@font-face {
    font-family: "nh";
    src: url(./neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayMediu.ttf);
}
@font-face {
    font-family: "nhlight";
    src: url(./neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayLight.ttf);
}
body {
    font-family: "nh";
    
	margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    padding: 0;
    margin: 0;
}

#page1{
    min-height: 100vh;
    width: 96%;
    background-color: #EFEAE3;
    position: relative;
    padding: 2vw 2vw;
}
#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links{
    display: flex;
    gap: 1.5vw;
    /* font-weight: 500; */
   
}
.links h4{
padding: 10px 20px;
border: 1px solid #D9D4CD;
border-radius: 50px;
align-items: center;    
position: relative;
overflow: hidden;
transition: all ease 0.4s;


}

.links h4::after{
    content: "";
    background-color: black;
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: -100%;
    left: 0%;
    border-radius: 50px;
    transition: all ease 0.4s;
}
.links h4:hover::after{
    bottom: 0%;
    border-radius: 0px;
}
.links h4 a{
    position: relative;
    z-index: 99;
    text-decoration: none;
color : #0B0500;
font-size: 18px;
font-weight: 100;
font-family: "nh";
}
.links h4:hover a{
    color: white;
  
}

#center{
    height: 75vh; 
    width: 100%;
    /* background-color: orangered; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom:  1px solid #BFBBB6;
    padding-bottom: 5vw ;
    
}
#left{
     
    font-size: 24px;
    font-family: nh;
    line-height: 1;
    
}
#left h3{
    margin: 0;
   
}
#right h1{
    margin: 0;
  
}
#right{
   
    font-size: 80px;
    line-height: 0.8;
    text-align: right;
    font-family: nh;
}

#video video{
    margin-top: 10vh;
   
    width: 100%;
    border-radius: 35px;
    position: relative;
    z-index: 99;
}
@keyframes anime{
    from{ transform: translate(5%,10%);}
    to{ transform: translate(0%,-5%);}

}
#heroShape{
    height: 70vh;
    width: 50vw;
    background-color: #FE4511;
    /* border-radius: 50%; */
    border-top-left-radius: 50%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 50%;
    right: 0;
    top: 85vh;
    filter: blur(20px);
    position: absolute;
    animation-name:anime ;
    animation-direction: alternate-reverse;
    animation-duration:4s;
    animation-iteration-count: infinite;
    z-index: 8;
    /* animation-delay: ease; */
}
#page2{
    overflow-x: auto;
    
}
#page2::-webkit-scrollbar{
    display: none;
}
 #con{
    white-space: nowrap;
    display:inline-flex;
    animation-name: scroll;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#page2 h1{
    font-size: 11vw;
    display: inline-block;
    font-family: nh;
}
#gola{
    height: 4vw;
    width: 4vw;
    border-radius: 50px;
    background-color: #FE4511;
    display: block;
    position: relative;
    bottom: -10vw;
    margin: 1vw;
}

@keyframes scroll{
    from{transform: translateX(0%);}
    to{transform: translateX(-82%);}
}

#page3{
    display: flex;
    height: 70vh;
    justify-content: space-between;
    padding: 3vw 5vw;
    position: relative;
    /* background-color: aliceblue; */
}
#page3 h1{
    width: 80%;
    font-size: 4vw;
    position: relative;
    z-index:7 ;
}
#page3 img{
    width: 100%;
    border-radius: 15px;
}
#page3-right{
    width: 50%;
}
#rcon{
    position: relative;
    bottom: -25vh ;
    /* display: none; */

}
#page3-right p{
   font-size: 1vw;
    overflow: hidden;
    text-align: justify;
    font-family: "nhlight";
    /* font-weight: 500; */
}
#page3bg1{
    position: absolute;
    height: 40vh;
    width: 30vw;
    background-color: orangered;
    animation: bganime 10s  infinite ;
    animation-direction: alternate;
    filter: blur(50px);
    border-radius: 50%;
}
#page3bg2{
    position: absolute;
    height: 40vh;
    width: 30vw;
    background-color: red;
    animation: bganime2 10s  infinite ;
    animation-direction: alternate;
    filter: blur(50px);
    border-radius: 50%;
}
@keyframes bganime{
    from{transform: translateX(0%) translateY(0%) rotate(0deg);}
    to{transform: translateX(-25% ) translateY(-25% ) rotate(-180deg);}
}
@keyframes bganime2{
    from{transform: translateX(0% 0%)  rotate(0deg);}
    to{transform: translateX(25% ) translateY(25% )  rotate(180deg);}
}
#bgcont{
   
    position: relative;
    right: -7vw;
    top: 6vh;
}

#test{
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 3vw;
    left: 2.2vw;
}
#dot{
    height: 10px;
    width: 10px;
    background-color: #FE4511;
    /* display: flex; */
    border-radius: 50%;
    margin-right: 10px;
}
#test p{
    margin: 0;
    text-transform: uppercase;
    font-family: "nhlight";
}

#page4{
    width: 100%;
    min-height: 100vh;
    /* background-color: red; */
position: relative;
}
#page4 #elem{
    width: 100%;
    height: 15vh;
    /* background-color: red0; */
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content:space-between ;
    border-bottom: 1px solid #BFBBB6 ;
}
#elem::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: #FF9831;
    position: absolute;
    top: -100%;
    overflow: hidden;
}
#elem:hover::after{
    top: 0%;
    transition: 100ms;
    /* background-color: white; */
}
/* #elem:hover{
background-color: red;
transition: 1s;

} */

#elemleft h2{
    position: relative;
    z-index: 9;
    font-family: "nh";
    /* margin: auto; */
    margin-left: 3vw  ;
    margin-top: 1.5vw  ;
    /* padding: 4vw ; */
    font-size: 3.5vw;

}
#elemright{
    /* white-space: nowrap;
    position: relative;
    justify-content: center;
    align-items: center; */
    padding-right:4vw ;
}

#elemright h5{
    position: relative;
    z-index: 9;
    font-family: "nh";
    margin-bottom: 0;
        text-align: right;
    
}
#elemright p{
    position: relative;
    z-index: 9;
    font-family: "nhlight";
    margin: 0;
    color: #BFBBB6;
}
#randPic{
    height: 60vh;
    width: 20vw;
    /* background-color: #0B0500; */
    position: fixed;
    top: 20%;
    left: 50vw;
    display: none;
    z-index: 9;
    border-radius: 30px;
}
#randPic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

#elemCont  #elem:nth-child(1):hover   #randPic {
    /* background-color: #FE4511; */
    display:block;
    /* background-color: red; */
}
#elemCont  #elem:nth-child(2):hover   #randPic {
    /* background-color: #FE4511; */
    display:block;
    /* background-color: red; */
}
#elemCont  #elem:nth-child(3):hover   #randPic {
    /* background-color: #FE4511; */
    display:block;
    /* background-color: red; */
}
#elemCont  #elem:nth-child(4):hover   #randPic {
    /* background-color: #FE4511; */
    display:block;
    /* background-color: red; */
}
#elemCont  #elem:nth-child(5):hover   #randPic {
    /* background-color: #FE4511; */
    display:block;
    /* background-color: red; */
}
#elemCont  #elem:nth-child(6):hover   #randPic {
    /* background-color: #FE4511; */
    display:block;
    /* background-color: red; */
}
#elemCont  #elem:nth-child(7):hover   #randPic {
    /* background-color: #FE4511; */
    display:block;
    
}


#justButton{
    /* height: 100px; */
    /* width: 100px; */
    /* background-color: black; */
    position: relative;
    margin-top: 5vh;
    left: 3vw;
    /* display: none; */
}
#page5{
    height: 100vh;
    width: 100vw;
    /* padding: 3vh; */
    margin-top: 10vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#p5cont{
    height: 100%;
    width: 95%;
    background-color: #0B0500;
    
    border-radius: 20px;
    display: flex;
}
#p5left{
    height: 100%;
    width: 40%;
    /* background-color:red ; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#p5right{
    height: 100%;
    width: 60%;
    background-color:transparent ;
}
#p5right img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}
#headings{
    color: #504A45;
    font-size: 25px;
}
#headings h1{
    margin: 0;
    padding-left: 2vw;
    border-left: 4px solid #504A45;;
    font-family: "nh";
    cursor: pointer;
}
#paragraph{
    color: white;
    font-size: 18px;
    text-align:left;
    height: 35vh;
    width: 17vw;
    font-family: "nhlight";
}